html {
    font-size: 16px;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}

.banner {
    height: 400px;
    background: linear-gradient(90deg, #3179B8 0%, #89D1D1 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.banner h1 {
    font-size: 140px;
    font-weight: 700;
    color: white;
}

.header2 p {
    text-align: center;
    margin: auto;
    display: flex;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    table-layout: fixed;
}

.column {
    flex: 100%;
    margin: 50px;
    width: 50%;
    /* justify-content: space-around; */
}

img {
    max-width: 100%;
    max-height: 100%;
}